<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.essindia.stlapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/ic_stl_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".Activity.InwardsSupervisorActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.WareHouseInwardBoxScanningActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.WhScanningInwardActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.KanbanStringActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.LoadingAdviceMRSCOILActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.LoadingAdviceMRSActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.WHLoadingInvoiceProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.WHLoadingInvoiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.RouteCardProcessListItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.RouteCardProcessActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.UnloadShopFloorCOILListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoadShopFloorListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.LoadShopFloorItemListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GRNVerfication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GRNVerificationDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--
        <service
            android:name="amobile.android.barcodesdk.services.BarcodeService"
            android:process=":barcode_services_process">
            <intent-filter>
                <action android:name="amobile.android.barcodesdk.services.BarcodeService" />
            </intent-filter>
        </service>
        -->
        <receiver
            android:name=".Utils.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name=".Utils.UpdaterService" />

        <receiver android:name=".Utils.AlarmReceiver" />

        <activity
            android:name=".Activity.GRNVerificationList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name=".Service.SyncService"
            android:exported="true">

            <!--
            This intent filter is required. It allows the system to launch our sync service
            as needed.
            -->
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <!-- This points to a required XML file which describes our SyncAdapter. -->
            <!-- <meta-data android:name="android.content.SyncAdapter" -->
            <!-- android:resource="@xml/syncadapter" /> -->
        </service>

        <activity
            android:name=".Activity.PutAwayList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.PutAwayDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.NewPickupList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.PuLocItemListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.PickupDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.LoadingListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.LoadingBoxDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.ReceivingListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.ReceivingItemListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.ReceivingItemDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.IssueListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.IssueItemListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.IssueItemDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.ReturnNotUsedItemListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.CoilIssueListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.CoilIssuingItemListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.CoilReceiveListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.CoilReceivingItemListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>